.nav{   
    background-color: rgb(253, 254, 255); 
    position: fixed; /*이것은 네비게이션바를 스크롤해도 원위치에 고정되있는 상태로 만들기위한 태그이다. */
    width:100%; /* position: fixed를 하면 모두 왼쪽에 아이콘이 쏠리는 현상이 발생하는데 이것으로 원래 우리가 설정한 값 100%로 다시 맞춰준다. 하지만 이것을하면 너무커져 좀 네비게이션바가 삐져나가기도한다.*/
    box-sizing: border-box; /* padding값을 추가 한만큼 사이즈를 늘려서 퍼지게 하지말고 padding을 추가해도 원래 크기로 고정시키는것*/
    border-bottom: 10px solid rgb(3, 3, 3); /* border-bottom의 줄,줄의모양,줄의 색상을 설정*/
    padding: 20px 150px 40px 120px; /*시계방향으로 상 우 하 좌 순서*/
    z-index:2;
}
.nav_list{
    display: flex; /*부모의 값인 .nav_list에 display:flex;값을 설정해놓으면 자식값들의 정렬방향이 기본 row(행)방향으로 바뀐다.*/
    justify-content: space-between;/*justify-content 속성은 콘텐츠의 좌우 관계 정렬 상태를 정의하고, align-content 속성은 콘텐츠의 상하 관계 정렬 상태를 정의합니다. justify-content 속성은 display:flex; 상태에서 적용됩니다.*/
}
.nav_link{
    color:inherit;
}
.nav_btn{
    position: relative;
}
.nav_link1{
    color: rgb(40, 25, 250);   /* inherit은 처음 링크되있는 색깔이 보라색인데 그 색깔을 없애고 기본값으로 변경해주는것 */
    
}
.nav_link2{
    color: rgb(40, 25, 250);   /* inherit은 처음 링크되있는 색깔이 보라색인데 그 색깔을 없애고 기본값으로 변경해주는것 */
    
}
.nav_link3{
    color: rgb(40, 25, 250);   /* inherit은 처음 링크되있는 색깔이 보라색인데 그 색깔을 없애고 기본값으로 변경해주는것 */
   
}
.nav_link4{
    color: rgb(40, 25, 250);   /* inherit은 처음 링크되있는 색깔이 보라색인데 그 색깔을 없애고 기본값으로 변경해주는것 */
   
}
.nav_name{
    display: flex; /* 기본적으로 flex값을 지정하면 내부에 container 그 안에 item 이 있는구조로 변하고 바꾸고자하는 부모값에 flex를 설정한다. 아무태그도 하지않으면 처음 flex값은 화면요소를 행으로 표시한다.*/
                   /*여기서 nav_name 각각 요소들이 혼자 부모값이기때문에 각각이 하나의 <div>구조처럼되어서 아이콘 밑으로 내려오게된다.*/
    justify-content:center;/*justify-content 속성은 콘텐츠의 좌우 관계 정렬 상태를 정의하고, align-content 속성은 콘텐츠의 상하 관계 정렬 상태를 정의합니다. justify-content 속성은 display:flex; 상태에서 적용됩니다.*/
    align-items: center; /*justify-content 속성은 콘텐츠의 좌우 관계 정렬 상태를 정의하고, align-content 속성은 콘텐츠의 상하 관계 정렬 상태를 정의합니다. justify-content 속성은 display:flex; 상태에서 적용됩니다.*/
    width:150px;/* 좌우길이*/
    height: 30px; /* 상하높이*/
    position: absolute; /*position: absolute는 가장 가까운 position: relative의 기준에 맞추어 아래의 left나 right값 같은것이 정해진다. 여기서는 가장가까운.nav_btn의 position: relative기준으로 움직임*/
    left:-60px; /* 바로위 참고,왼쪽값*/
    font-weight: 1000; /*폰트 굵기*/
}