.place1{
    padding-top:300px;
    margin-left:310px;
}
.place2{
    padding-top: 50px;
    margin-left:200px;
}

.place_cebu1{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cebu2{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cebu3{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cebu4{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cebu5{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cam1{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cam2{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cam3{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cam4{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cam5{
    width:200px;
    height:200px;
    border: solid rgb(0, 207, 243) 5px;
}
.place_cam6{
    width:200px;
    height:200px; 
    border: solid rgb(0, 207, 243) 5px;
}
.place_text{
    padding-top: 30px;
    margin-left:570px;
    font-size:30px;
}
.place_text1{
    padding-left:50px;
}