.fake{
   height: 180px;
}

.values{
    padding-top: 100px;
    padding-right:150px;
    padding-left:0px;
    margin-top:0px;
    margin-left:100px;
    margin-right:100px;
    font-size:100px;
    color: rgb(254, 254, 255);
    background-color: rgb(12, 199, 174);
    border: solid rgb(255, 253, 253);
    border-radius: 200px;
    
}
.values1{
    margin-left:300px;
    margin-bottom: 100px;
    width:1050px;
    
}
.values2{
    margin-left:60px;
    margin-bottom: 100px;
    width:1380px;
}
.values3{
    margin-left:60px;
    margin-bottom: 100px;
    width:1400px;
    
}