.fake{
   height: 180px;
}

.values{
    padding-top: 100px;
    padding-right:150px;
    padding-left:0px;
    margin-top:0px;
    margin-left:100px;
    margin-right:100px;
    font-size:100px;
    color: rgb(254, 254, 255);
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

    
    border: solid rgb(255, 253, 253) 15px;
    border-radius: 200px;
    
}
.values1{
    margin-left:300px;
    margin-bottom: 100px;
    width:1050px;
    
}
.values2{
    margin-left:60px;
    margin-bottom: 100px;
    width:1380px;
}
.values3{
    margin-left:60px;
    margin-bottom: 100px;
    width:1400px;
    
}